:root {
	--ra-font-color: #464646; /* #000 is common as well */
	--ra-font-family: "Open Sans",Helvetica,sans-serif; /* This is from NAD riksarkivet.se uses a different set */
	--ra-font-family-headers: Roboto,Open Sans,Helvetica,sans-serif; /* not sure if these fonts are intentional considering all the overrides*/
	--ra-font-size: 14px; /* 16px is common as well */
	--ra-border-color: #ccd4e4;
	--ra-blue-main: #0d5c91;
	
}

html, body {
	width: 100%;
}

body {
	color: var(--ra-font-color);
	font-family: var(--ra-font-family);
	font-size: var(--ra-font-size);
	margin: 0;
}

.dark {
	background-color: #0b151f;
	color: #fff;
}

h1, h2, h3 {
	font-family: var(--ra-font-family-headers);
	line-height: 1.3;
	font-weight: 500;
}

.columns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1em;
}

.responsive-container {
	width: 100%;
	margin: auto;
}

@media (min-width: 769px) {
	.responsive-container {
		width: 100%;
	}
}

@media (min-width: 1024px) {
	.responsive-container {
		width: 850px;
	}
}

@media (min-width: 1140px) {
	.responsive-container {
		width: 1000px;
	}
}

form {
	padding: 1em;
}

input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 9px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	border-radius: 3px;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

label {
	color: #0D5C91;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
	font-weight: 800;
}

button[type="submit"] {
	display: inline-block;
	padding: .75rem 2rem;
	border-radius: .3em;
	border: 0;
	box-shadow: none;
	background: #0d5c91;
	font-size: 1rem;
	text-decoration: none;
	text-shadow: none;
	line-height: 1;
	color: #fff;
	transition: background .3s ease-in-out;
	cursor: pointer;
}

button[type="submit"]:hover {
	background: #5089b0;
}